@using Clarity.Ecommerce.MVC.Core
@using Clarity.Ecommerce.MVC.Api.Endpoints

@inherits TabAssociationBase<
  ProductModel,
  ProductModel,
  ProductPagedResults,
  GetProducts,
  ProductAssociationModel,
  ProductAssociationPagedResults,
  GetProductAssociations,
  CreateProductAssociation,
  DeactivateProductAssociationByID,
  ModalEditProductAssociation>

@{
  /* Write the base component content here */
  base.BuildRenderTree(__builder);
}

<ModalCreateProductAssociation @ref="modalCreate" />
<ModalEditProductAssociation @ref="modalEdit" />

@*
@using Clarity.Ecommerce.MVC.Core
@inherits TemplatedControllerBase
@inject CEFConfig cefConfig
@inject CEFAPI cvApi
@inject IMapper mapper

<Heading Size="HeadingSize.Is2">Associated Products</Heading>
<Row>
  <Column>
    <Heading Size="HeadingSize.Is3">Assigned</Heading>
    @if (assigned is not null)
    {
      <ServerSidePagingHeader
        TRecord="ProductAssociationModel"
        TPagedRecord="ProductAssociationPagedResults"
        TEndpoint="MVC.Api.Endpoints.GetProductAssociations"
        Paging="assigned"
        Disabled="ViewState.InputDisable"
        Narrow="false"
      />
    }
    <Blazorise.Table
      Responsive="true"
      Hoverable="true"
      Narrow="true"
      Striped="true"
      Class="mb-3 table-cells-valign-middle">
      <TableHeader>
        <TableRow>
          <TableHeaderCell Class="text-center w-auto">Association Type</TableHeaderCell>
          <TableHeaderCell Class="text-center w-auto">#</TableHeaderCell>
          <TableHeaderCell Class="text-left">Key</TableHeaderCell>
          <TableHeaderCell Class="text-left">Name</TableHeaderCell>
          <TableHeaderCell Class="text-center w-auto">UofM</TableHeaderCell>
          <TableHeaderCell Class="text-center w-auto">Quantity</TableHeaderCell>
          <TableHeaderCell Class="text-center w-auto">Sort Order</TableHeaderCell>
          <TableHeaderCell Class="w-1" />
          <TableHeaderCell Class="w-1" />
        </TableRow>
      </TableHeader>
      <TableBody Style="min-height: 200px;">
        @if (assigned is not null)
        {
          @if (assigned.FilteredCount <= 0)
          {
            <TableRow>
              <TableRowCell ColumnSpan="9">
                No Results Found
              </TableRowCell>
            </TableRow>
          }
          else
          {
            <Repeater Items="assigned.FilteredData[assigned.CurrentPage]">
              <TableRow>
                <TableRowCell>@(context.TypeDisplayName ?? context.TypeName)</TableRowCell>
                <TableRowCell Class="text-center">@context.SlaveID</TableRowCell>
                <TableRowCell>@(context.SlaveKey ?? context.Slave.CustomKey)</TableRowCell>
                <TableRowCell>@(context.SlaveName ?? context.Slave.Name)</TableRowCell>
                <TableRowCell Class="text-center">@context.UnitOfMeasure</TableRowCell>
                <TableRowCell Class="text-center">@context.Quantity?.ToString("#,##0.###")</TableRowCell>
                <TableRowCell Class="text-center">@context.SortOrder</TableRowCell>
                <TableRowCell>
                  <Blazorise.Button
                    Type="ButtonType.Button"
                    Color="Color.Info"
                    ElementId="@("btnEdit_productToProducts_" + context.ID)"
                    Disabled="ViewState.InputDisable"
                    Clicked="() => EditAssociationAsync(context)">
                    <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.PencilAlt" />
                    <Span Class="sr-only">Edit</Span>
                  </Blazorise.Button>
                </TableRowCell>
                <TableRowCell>
                  <Blazorise.Button
                    Type="ButtonType.Button"
                    Color="Color.Danger"
                    ElementId="@("btnRemove_productToProducts_" + context.ID)"
                    Disabled="ViewState.InputDisable"
                    Clicked="() => RemoveAssociationAsync(context)">
                    <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.Trash" />
                    <Span Class="sr-only">Remove</Span>
                  </Blazorise.Button>
                </TableRowCell>
              </TableRow>
            </Repeater>
          }
        }
      </TableBody>
    </Blazorise.Table>
  </Column>
</Row>
<Row>
  <Column>
    <Heading Size="HeadingSize.Is3">Available</Heading>
    @if (available is not null)
    {
      <ServerSidePagingHeader
        TRecord="ProductModel"
        TPagedRecord="ProductPagedResults"
        TEndpoint="MVC.Api.Endpoints.GetProducts"
        Paging="available"
        Disabled="ViewState.InputDisable"
        Narrow="false"
        @bind-QuickFilter="quickFilter"
      />
    }
  </Column>
</Row>
<Row>
  <Column Class="h-100">
    <Blazorise.Table
      Striped="true"
      Narrow="true"
      Hoverable="true"
      Responsive="true"
      Class="mb-3 table-cells-valign-middle">
      <TableHeader>
        <TableRow>
          <TableHeaderCell Class="w-5">#</TableHeaderCell>
          <TableHeaderCell Class="w-35">Key</TableHeaderCell>
          <TableHeaderCell Class="w-60">Name</TableHeaderCell>
          <TableHeaderCell Class="w-auto"></TableHeaderCell>
        </TableRow>
      </TableHeader>
      <TableBody>
        @if (available is not null)
        {
          @if (available.FilteredCount <= 0)
          {
            <TableRow>
              <TableRowCell ColumnSpan="3">
                No results found.
              </TableRowCell>
            </TableRow>
          }
          else
          {
            <Repeater Items="available.FilteredData[available.CurrentPage]">
              <TableRow>
                <TableRowCell>@context.ID</TableRowCell>
                <TableRowCell>@context.CustomKey</TableRowCell>
                <TableRowCell>@context.Name</TableRowCell>
                <TableRowCell>
                  <Blazorise.Button
                    Type="ButtonType.Button"
                    Color="Color.Success"
                    ElementId="@("btnAdd_productToProducts_" + context.ID)"
                    Disabled="ViewState.InputDisable"
                    Clicked="() => StartAddAssociationAsync(context.ID)">
                    <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.Plus" />
                    <Span Class="sr-only">Add</Span>
                  </Blazorise.Button>
                </TableRowCell>
              </TableRow>
            </Repeater>
          }
        }
      </TableBody>
    </Blazorise.Table>
  </Column>
</Row>
<MessageModalFactory @ref="messageModalFactory" />
<ConfirmModalFactory @ref="confirmModalFactory" />
<ModalCreateProductAssociation @ref="modalCreate" />
<ModalEditProductAssociation @ref="modalEdit" />

@code
{
  #region Parameters
  /// <summary>Gets or sets the record.</summary>
  /// <value>The record.</value>
  [Parameter, EditorRequired]
  public ProductModel Record { get; set; } = null!;
  #endregion

  private string? quickFilter;
  private ServerSidePaging<ProductModel, ProductPagedResults, MVC.Api.Endpoints.GetProducts>? available;
  private ServerSidePaging<ProductAssociationModel, ProductAssociationPagedResults, MVC.Api.Endpoints.GetProductAssociations>? assigned;
  private MessageModalFactory? messageModalFactory;
  private ConfirmModalFactory? confirmModalFactory;
  private ModalEditProductAssociation? modalEdit;

  /// <inheritdoc />
  protected override async Task OnInitializedAsync()
  {
    DebugBeginMethod();
    await base.OnInitializedAsync().ConfigureAwait(false);
    available = new(
      searchCall: cvApi.GetProducts,
      size: 8,
      name: $"product-{Record.ID}.to.Products.available",
      searchParameterName: null,
      searchParamsToMerge: () => new MVC.Api.Endpoints.GetProducts
      {
        Active = true,
        AsListing = true,
        Sorts = new[]
        {
          new Sort { Field = "Name", Order = 0, Dir = "asc" },
          new Sort { Field = "CustomKey", Order = 1, Dir = "asc" },
          new Sort { Field = "ID", Order = 2, Dir = "asc" }
        },
      },
      waitCondition: () => !Contract.CheckValidID(Record.ID),
      callback: StateHasChanged);
    assigned = new(
      searchCall: cvApi.GetProductAssociations,
      size: 8,
      name: $"product-{Record.ID}.to.Products.assigned",
      searchParameterName: null,
      searchParamsToMerge: () => new MVC.Api.Endpoints.GetProductAssociations
      {
        Active = true,
        AsListing = true,
        MasterID = Record.ID,
        Sorts = new[]
        {
          new Sort { Field = "CustomKey", Order = 0, Dir = "asc" },
          new Sort { Field = "ID", Order = 1, Dir = "asc" }
        },
      },
      waitCondition: () => !Contract.CheckValidID(Record.ID),
      callback: StateHasChanged);
    await FinishRunningAsync().ConfigureAwait(false);
    ViewState.loading = false;
    DebugEndMethod();
  }

  /// <summary>Extended record data enforcement on save.</summary>
  /// <param name="timestamp">The timestamp Date/Time.</param>
  /// <returns>A Task.</returns>
  public Task ExtendedRecordDataEnforcementOnSaveAsync(DateTime timestamp)
  {
    DebugBeginMethod();
    DebugEndMethod();
    return Task.CompletedTask;
  }

  /// <summary>Extended record data calls on after save.</summary>
  /// <param name="timestamp">The timestamp Date/Time.</param>
  /// <returns>A Task.</returns>
  public Task ExtendedRecordDataCallsOnAfterSaveAsync(DateTime timestamp)
  {
    DebugBeginMethod();
    DebugEndMethod();
    return Task.CompletedTask;
  }

  private Task StartAddAssociationAsync(int idToAssociate)
  {
    DebugBeginMethod();
    DebugEndMethod();
    return modalCreate!.ShowAsync(
      idToAssociate: idToAssociate,
      callback: async (accept, toSend) =>
      {
        DebugBeginMethod();
        if (accept)
        {
          await SetRunningAsync().ConfigureAwait(false);
          await AddAssociationAsync(toSend.SlaveID, toSend.TypeID).ConfigureAwait(false);
          await FinishRunningAsync().ConfigureAwait(false);
        }
        StateHasChanged();
        DebugEndMethod();
      });
  }

  private async Task AddAssociationAsync(int idToAssociate, int typeIDForIDToAssociate)
  {
    DebugBeginMethod();
    if (!Contract.CheckValidID(idToAssociate))
    {
      DebugEndMethod();
      return;
    }
    /* This check isn't necessary
    if (!record || !record.ID)
    {
      cvMessageModalFactory.show("You must save the record first");
      DebugEndMethod();
      return;
    }
    */
    // Ensure the data is loaded
    var model = available!.DataUnpaged.SingleOrDefault(x => x.ID == idToAssociate);
    if (model is null)
    {
      DebugEndMethod();
      return;
    }
    // Ensure it's not already in the collection
    if (assigned!.DataUnpaged.Any(x => x.Active && x.MasterID == model.ID && x.TypeID == typeIDForIDToAssociate))
    {
      // cvMessageModalFactory.show("This is already associated");
      DebugEndMethod();
      return;
    }
    await SetRunningAsync().ConfigureAwait(false);
    MVC.Api.Endpoints.GetProductAssociations dupeCheckDto = new()
    {
      Active = true,
      AsListing = true,
      MasterID = Record.ID,
      SlaveID = idToAssociate,
      TypeID = typeIDForIDToAssociate,
    };
    var r = await cvApi.GetProductAssociations(dupeCheckDto).ConfigureAwait(false);
    if (r?.data?.Results is null)
    {
      await messageModalFactory!.ShowAsync(
          message: "Could not retrieve data from duplicate check",
          callback: () => FinishRunningAsync(true, "Could not retrieve data from duplicate check"))
        .ConfigureAwait(false);
      DebugEndMethod();
      return;
    }
    if (Contract.CheckNotEmpty(r.data.Results))
    {
      await messageModalFactory!.ShowAsync(
        message: "This is already in the collection.",
        callback: () => FinishRunningAsync(true, "This is already in the collection."))
        .ConfigureAwait(false);
      DebugEndMethod();
      return;
    }
    // Add it
    var rc = await cvApi.CreateProductAssociation(
      new()
      {
        Active = true,
        CreatedDate = DateTime.Now,
        MasterID = Record.ID,
        SlaveID = model.ID,
        TypeID = typeIDForIDToAssociate,
      })
      .ConfigureAwait(false);
    if (rc?.data is null)
    {
      await FinishRunningAsync(true, "ERROR! Failed to create the association in the server").ConfigureAwait(false);
      DebugEndMethod();
      return;
    }
    // Ensure we are only setting the new way
    Record.ProductAssociations = null;
    assigned.ResetAll(); // Pull updated data
    assigned.Search(); // Pull updated data
    ViewState.MakeDirty();
    await FinishRunningAsync().ConfigureAwait(false);
    StateHasChanged();
    DebugEndMethod();
  }

  private Task EditAssociationAsync(ProductAssociationModel toEdit)
  {
    DebugBeginMethod();
    DebugEndMethod();
    return modalEdit!.ShowAsync(
      association: toEdit,
      callback: async (accept, toSend) =>
      {
        DebugBeginMethod();
        if (accept)
        {
          var r = await cvApi.UpdateProductAssociation(
              mapper.Map<MVC.Api.Endpoints.UpdateProductAssociation>(toSend))
            .ConfigureAwait(false);
          if (r.data?.ActionSucceeded != true)
          {
            await FinishRunningAsync(true, errorMessages: r.data?.Messages.ToArray()).ConfigureAwait(false);
            StateHasChanged();
            DebugEndMethod();
            return;
          }
          // Ensure we are only setting the new way
          Record.ProductAssociations = null;
          assigned!.ResetAll(); // Pull updated data
          assigned.Search(); // Pull updated data
          ViewState.MakeDirty();
        }
        await FinishRunningAsync().ConfigureAwait(false);
        StateHasChanged();
        DebugEndMethod();
      });
  }

  private Task RemoveAssociationAsync(ProductAssociationModel toRemove)
  {
    DebugBeginMethod();
    DebugEndMethod();
    return confirmModalFactory!.ShowAsync(
      message: "Are you sure you want to remove this association?",
      callback: async result =>
      {
        DebugBeginMethod();
        if (!result)
        {
          DebugEndMethod();
          return;
        }
        var r = await cvApi.DeactivateProductAssociationByID(new() { ID = toRemove.ID }).ConfigureAwait(false);
        if (r?.data is not { ActionSucceeded: true })
        {
          await FinishRunningAsync(
              true,
              "ERROR! Failed to disassociate the record in the server.",
              r?.data?.Messages.ToArray())
            .ConfigureAwait(false);
          DebugEndMethod();
          return;
        }
        // Ensure we are only setting the new way
        Record.ProductAssociations = null;
        assigned!.ResetAll(); // Pull updated data
        assigned.Search(); // Pull updated data
        await messageModalFactory!.ShowAsync(
            message: "The record has been disassociated on the server",
            callback: () => FinishRunningAsync())
          .ConfigureAwait(false);
        StateHasChanged();
        DebugEndMethod();
      });
  }
}
*@
