@page "/customers/accounts"
@using Blazorise
@using Blazorise.DataGrid
@using Clarity.Ecommerce.MVC.Core
@using Clarity.Ecommerce.MVC.Api.Models
@using Clarity.Ecommerce.MVC.Api.Endpoints
@using Clarity.Ecommerce.MVC.Utilities
@inherits GridViewTemplatedControllerBase<AccountPagedResults, AccountModel, GetAccounts>

@if (PortalRoute is not null)
{
  <CEFPageTitle Value="@(PortalRoute.Title + RoutingOptions.PageTitleSuffix)" />
}
<CascadingValue Value="ViewState">
  <Div Class="page h-100" ElementId="accountCatalogPage">
    @if (ViewState.loading || CurrentDataCollection is null && !ViewState.hasError)
    {
      <Div Class="page-content p-3">
        <LoadingBlock />
      </Div>
    }
    else if (ViewState.hasError)
    {
      <Div Class="page-content p-3 w-100">
        <ErrorBlock />
      </Div>
    }
    else if (CurrentDataCollection is not null)
    {
      <Div Class="page-content w-100">
        <Container Fluid="true">
          <Row>
            <Column>
              <Div Class="d-flex justify-content-between align-items-center">
                <Heading Size="HeadingSize.Is1">
                  <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.Users" Class="mr-2" />
                  @(PortalRoute?.HeaderText ?? PortalRoute?.Title ?? "Accounts")
                </Heading>
                <Div>
                  <Blazorise.Button
                    Type="ButtonType.Button"
                    Color="Color.Primary"
                    Clicked="@(() => NavigationManager.NavigateToPortalRouteFor(RoutingOptions, CreatorRouteBase))">
                    Add Account
                  </Blazorise.Button>
                </Div>
              </Div>
              <Validations
                EditContext="EditContext"
                Mode="ValidationMode.Manual"
                ValidateOnLoad="true">
                <DataGrid
                  TItem="AccountModel"
                  Data="@CurrentDataCollection.Results"
                  Responsive="Responsive"
                  Narrow="Narrow"
                  Hoverable="Hoverable"
                  Striped="Striped"
                  Bordered="Bordered"
                  Borderless="Borderless"
                  Filterable="Filterable"
                  ShowCaptions="ShowCaptions"
                  Sortable="Sortable"
                  Resizable="Resizable"
                  ShowPageSizes="ShowPageSizes"
                  ShowPager="ShowPager"
                  PageSizes="PageSizes"
                  PageSize="CurrentPageSize"
                  PageSizeChanged="@(i => { CurrentPageSize = i; StateHasChanged(); })"
                  CurrentPage="CurrentPage"
                  PageChanged="@(e => { CurrentPage = e.Page; StateHasChanged(); })"
                  MaxPaginationLinks="MaxPaginationLinks"
                  TotalItems="@CurrentDataCollection.TotalCount"
                  ReadData="@OnReadData"
                  SelectedRowChanged="@OnSelectedRowChanged"
                  CommandMode="DataGridCommandMode.Default"
                  SelectionMode="DataGridSelectionMode.Single"
                  SortMode="DataGridSortMode.Multiple"
                  PagerPosition="DataGridPagerPosition.Bottom"
                  FixedHeader="true"
                  FixedHeaderDataGridHeight="100%"
                  FixedHeaderDataGridMaxHeight="100%"
                  ResizeMode="TableResizeMode.Header">
                  <DataGridColumns>
                    <DataGridNumericColumn
                      TItem="AccountModel"
                      Field="@nameof(BaseModel.ID)"
                      Caption="#"
                      Sortable="true"
                      Filterable="true"
                      FilterCellClass="text-right"
                      DisplayFormat="{0:00000}"
                      Width="5%">
                      <FilterTemplate>
                        <NumericEdit
                          TValue="int"
                          Value="@(dto.ID ?? 0)"
                          ValueChanged="@(val => { dto.ID = val; context.TriggerFilterChange(val); })"
                        />
                      </FilterTemplate>
                    </DataGridNumericColumn>
                    <DataGridColumn
                      TItem="AccountModel"
                      Field="@nameof(BaseModel.CustomKey)"
                      Caption="Key"
                      Sortable="true"
                      Filterable="true"
                      Width="10%">
                      <FilterTemplate>
                        <TextEdit
                          Text="@dto.CustomKey"
                          TextChanged="@(val => { dto.CustomKey = val; context.TriggerFilterChange(val); })"
                        />
                      </FilterTemplate>
                    </DataGridColumn>
                    <DataGridColumn
                      TItem="AccountModel"
                      Field="@nameof(NameableBaseModel.Name)"
                      Caption="Name"
                      Sortable="true"
                      Filterable="true">
                      <FilterTemplate>
                        <TextEdit
                          Text="@dto.Name"
                          TextChanged="@(val => { dto.Name = val; context.TriggerFilterChange(val); })"
                        />
                      </FilterTemplate>
                    </DataGridColumn>
                    <DataGridCheckColumn
                      TItem="AccountModel"
                      Field="@nameof(AccountModel.IsOnHold)"
                      Caption="On Hold"
                      Sortable="true"
                      Filterable="true"
                      Width="7%">
                      <DisplayTemplate>
                        <Check
                          TValue="bool"
                          Checked="context.IsOnHold"
                          Disabled="true"
                        />
                      </DisplayTemplate>
                      <FilterTemplate>
                        <div class="float-left">
                          <Check
                            TValue="bool"
                            Checked="@(dto.IsOnHold ?? false)"
                            CheckedChanged="@(val => { dto.IsOnHold = val; context.TriggerFilterChange(val); })"
                          />
                        </div>
                        <Blazorise.Button
                          Class="float-left p-0"
                          Type="ButtonType.Button"
                          Color="Color.Link"
                          Visibility="@(dto.IsOnHold == null ? Visibility.Invisible : Visibility.Visible)"
                          Clicked="@(val => { dto.IsOnHold = null; context.TriggerFilterChange(null); })">
                          Clear
                        </Blazorise.Button>
                      </FilterTemplate>
                    </DataGridCheckColumn>
                    <DataGridColumn
                      TItem="AccountModel"
                      Field="@nameof(BaseModel.ID)"
                      Caption=""
                      Sortable="false"
                      Filterable="false"
                      Width="5%">
                      <DisplayTemplate>
                        <Blazorise.Button
                          Type="ButtonType.Button"
                          Color="Color.Link"
                          Clicked="@(() => OnItemViewClicked(context.ID))">
                          View
                        </Blazorise.Button>
                      </DisplayTemplate>
                    </DataGridColumn>
                  </DataGridColumns>
                  <EmptyTemplate><div class="box p-3">No records found.</div></EmptyTemplate>
                  <LoadingTemplate><div class="box p-3"><Progress Size="Size.Small" Color="Color.Primary" Value="35"></Progress></div></LoadingTemplate>
                  <FirstPageButtonTemplate><span><Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.AngleDoubleLeft" /></span></FirstPageButtonTemplate>
                  <PreviousPageButtonTemplate><span><Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.AngleLeft" /></span></PreviousPageButtonTemplate>
                  <NextPageButtonTemplate><span><Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.AngleRight" /></span></NextPageButtonTemplate>
                  <LastPageButtonTemplate><span><Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.AngleDoubleRight" /></span></LastPageButtonTemplate>
                </DataGrid>
              </Validations>
            </Column>
          </Row>
        </Container>
      </Div>
    }
  </Div>
</CascadingValue>

@code
{
  #region Properties
  /// <inheritdoc />
  protected override string GridViewRouteBase => "/customers/accounts";

  /// <inheritdoc />
  protected override string EditorRouteBase => GridViewRouteBase + "/editor/";

  /// <inheritdoc />
  protected override string CreatorRouteBase => GridViewRouteBase + "/creator/";
  #endregion

  /// <inheritdoc />
  protected override Task LoadExtendedInitialDataAsync()
  {
    return Task.CompletedTask;
  }

  /// <inheritdoc />
  protected override async Task<IHttpPromiseCallbackArg<AccountPagedResults?>> FilteredDataLoadCallAsync(
    DataGridReadDataEventArgs<AccountModel>? e)
  {
    DebugBeginMethod();
    var dto = new GetAccounts
    {
      Active = true,
      Paging = new() { Size = CurrentPageSize, StartIndex = CurrentPage },
      // NOTE: Appropriate MasterID check is enforced api-side
    };
    dto = await ExtendDtoAsync(e, dto).ConfigureAwait(false);
    DebugEndMethod();
    return await cvApi.GetAccounts(dto).ConfigureAwait(false);
  }

  /// <inheritdoc />
  protected override Task<IHttpPromiseCallbackArg<AccountPagedResults?>> InitialDataLoadCallAsync()
  {
    return FilteredDataLoadCallAsync(null);
  }

  /// <inheritdoc />
  protected override bool CustomFilterCheck(AccountModel model)
  {
    return true;
  }

  /// <summary>Extend search data transfer object.</summary>
  /// <typeparam name="TDTO">Type of the data transfer object model.</typeparam>
  /// <param name="e">  The DataGridReadDataEventArgs{AccountModel}? to process.</param>
  /// <param name="dto">The data transfer object.</param>
  /// <returns>A Task.</returns>
  protected /*override*/ Task<TDTO> ExtendDtoAsync<TDTO>(
      DataGridReadDataEventArgs<AccountModel>? e,
      TDTO dto)
    where TDTO : AccountSearchModel
  {
    DebugBeginMethod();
    if (e is null)
    {
      return Task.FromResult(dto);
    }
    var sorts = (
      from dataGridColumnInfo in e.Columns
      where dataGridColumnInfo.SortDirection != SortDirection.None
      select new Sort
      {
        Dir = dataGridColumnInfo.SortDirection == SortDirection.Ascending ? "asc" : "desc",
        Order = dataGridColumnInfo.SortIndex,
        Field = dataGridColumnInfo.Field,
      })
      .ToList();
    dto.Sorts = Contract.CheckEmpty(sorts) ? null : sorts.ToArray();
    // NOTE: MasterID, Active, AsListing are enforced on api-side
    // Copy from AdminGet model to SearchModel
    dto.ID = dto.ID;
    dto.CustomKey = dto.CustomKey;
    dto.Name = dto.Name;
    dto.IsOnHold = dto.IsOnHold;
    DebugEndMethod();
    return Task.FromResult(dto);
  }
}
